/* Style the dropdown button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 43px;
  min-width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 8px;
  min-width: 57%;
  width: auto;
  transition: width 0.3s ease;
}

/* Style the dropdown links */
.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

/* Change the background color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the dropdown container */
.dropdown {
  display: inline-block;
  position: relative;
  display: flex;
  margin-top: 20px;
}

/* Style the dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: #45a049;
}

#tech-startup-ideas .skills-header,
#architecture-startup-ideas .skills-header,
#education-startup-ideas .skills-header,
#law-startup-ideas .skills-header,
#retail-ideas .skills-header,
#fashion-ideas .skills-header,
#health-ideas .skills-header,
#other-ideas .skills-header {
  font-weight: bold;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
}


section {
  margin-top: 100px;
}

/* Style the title */
h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

#technology-section h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }

  #tech-startup-ideas h3:nth-of-type(1),
  #tech-startup-ideas h3:nth-of-type(3),
  #tech-startup-ideas h3:nth-of-type(5),
  #tech-startup-ideas h3:nth-of-type(7) {
    font-size: 28px;
    color: #355C7D;
  }

  #architecture-startup-ideas h3:nth-of-type(1),
  #architecture-startup-ideas h3:nth-of-type(3),
  #architecture-startup-ideas h3:nth-of-type(5),
  #architecture-startup-ideas h3:nth-of-type(7) {
    font-size: 28px;
    color: #92A8D1;
  }

  #education-startup-ideas h3:nth-of-type(1),
  #education-startup-ideas h3:nth-of-type(3),
  #education-startup-ideas h3:nth-of-type(5),
  #education-startup-ideas h3:nth-of-type(7) {
    font-size: 28px;
    color: #6B5B95;
  }

  #law-startup-ideas h3:nth-of-type(1),
  #law-startup-ideas h3:nth-of-type(3),
  #law-startup-ideas h3:nth-of-type(5),
  #law-startup-ideas h3:nth-of-type(7) {
    font-size: 28px;
    color:  #955251;
  }
  
  #retail-ideas h3:nth-of-type(1),
  #retail-ideas h3:nth-of-type(3),
  #retail-ideas h3:nth-of-type(5),
  #retail-ideas h3:nth-of-type(7) {
    font-size: 28px;
    color: #98B4D4;
  }

  #fashion-ideas h3:nth-of-type(1),
  #fashion-ideas h3:nth-of-type(3),
  #fashion-ideas h3:nth-of-type(5),
  #fashion-ideas h3:nth-of-type(7) {
    font-size: 28px;
    color: #88B04B;
  }

  #health-ideas h3:nth-of-type(1),
  #health-ideas h3:nth-of-type(3),
  #health-ideas h3:nth-of-type(5),
  #health-ideas h3:nth-of-type(7) {
    font-size: 28px;
    color: #009B77;
  }

  #other-ideas h3:nth-of-type(1),
  #other-ideas h3:nth-of-type(3),
  #other-ideas h3:nth-of-type(5),
  #other-ideas h3:nth-of-type(7) {
    font-size: 28px;
    color: #B55A30;
  }
